@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
.page_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1;
}
.page_header .burger_menu {
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid #616060;
  border-radius: 0.6rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.page_header .burger_menu span {
  width: 80%;
  height: 0.5rem;
  border-radius: 0.3rem;
}
.page_header .burger_menu span:nth-child(even) {
  background: #616060;
}
.page_header .burger_menu span:nth-child(odd) {
  background: #e99c2e;
}
.page_header #page_logo {
  text-decoration: none;
}
.page_header #page_logo .logo_text {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: #000000;
}
.page_header #page_logo .logo_text--gray {
  color: #616060;
}
.page_header #page_logo .logo_text--orange {
  color: #e99c2e;
}
.page_header .page_nav {
  display: none;
}
.page_header .page_nav ul {
  display: flex;
}
.page_header .page_nav ul li {
  list-style-type: none;
}
.page_header .page_nav ul li a {
  text-decoration: none;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  padding: 0 1.3rem;
  color: #616060;
  text-transform: capitalize;
}
.page_header .page_nav ul li a:hover {
  color: #e99c2e;
  transition: 0.3s;
}
.page_header .icon_bar--container {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}
.page_header .icon_bar--container svg {
  width: 2rem;
  max-width: 28px;
  height: 2rem;
  max-height: 28px;
  color: #616060;
}
.page_header .icon_bar--container svg:hover {
  color: #000000;
}
.page_header .page_offcanvas {
  position: fixed;
  top: 0;
}
.page_header .page_offcanvas ul {
  width: 300px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 0;
  padding: 0;
  padding-top: 2rem;
}
.page_header .page_offcanvas ul li {
  width: 90%;
  list-style-type: none;
  padding: 1rem 0;
}
.page_header .page_offcanvas ul li:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page_header .page_offcanvas ul li:first-child .exit__offcanvas {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 2.5rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  color: #616060;
}
.page_header .page_offcanvas ul li:first-child .exit__offcanvas:hover {
  background: #e99c2e;
}
.page_header .page_offcanvas ul li + li {
  background: rgba(89, 89, 89, 0.221);
  border-radius: 1rem;
  text-align: center;
}
.page_header .page_offcanvas ul li + li:hover {
  background: transparent;
  transition: 0.2s;
}
.page_header .page_offcanvas ul li + li a {
  text-decoration: none;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
  color: #616060;
}
.page_header .page_offcanvas--open {
  left: 0;
  transition: left 0.5s;
}
.page_header .page_offcanvas--close {
  left: -300px;
  transition: left 0.5s;
}
@media (min-width: 900px) {
  .page_header .burger_menu {
    display: none;
  }
  .page_header .page_nav {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
ul {
  margin-bottom: 0;
}

.slider .carousel-item {
  padding: 5vh 3vh;
  box-sizing: border-box;
}
.slider .carousel-item .slider__heading4 {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #998d80;
  margin-bottom: 1.3rem;
}
.slider .carousel-item .slider__heading2 {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  color: #616060;
  margin-bottom: 1.3rem;
}
.slider .carousel-item .slider__introduction {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #998d80;
  text-align: justify;
}
.slider .carousel-item .slider__price {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #616060;
  width: 100%;
  margin-bottom: 2rem;
}
.slider .carousel-item .slider__price span {
  display: inline-block;
}
.slider .carousel-item .slider__price .current__price {
  margin-left: 4rem;
  position: relative;
}
.slider .carousel-item .slider__price .current__price::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3px;
  background: rgba(97, 96, 96, 0.7137254902);
  left: -3.5rem;
  top: calc(50% - 3px);
}
.slider .carousel-item .slider__price .pervious__price {
  margin-left: 2.5rem;
  text-decoration: line-through 3px rgba(97, 96, 96, 0.7137254902);
}
.slider .carousel-item .button__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.slider .carousel-item .button__container--more, .slider .carousel-item .button__container--add {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: #000000;
  padding: 0.5rem 0;
  transition: 0.4s;
}
.slider .carousel-item .button__container--add {
  background: #e99c2e;
  color: #ffffff;
}
.slider .carousel-item .button__container--add:hover {
  background: #ffffff;
  color: #e99c2e;
}
.slider .carousel-item .button__container--more {
  color: #e99c2e;
}
.slider .carousel-item .button__container--more:hover {
  background: #e99c2e;
  color: #ffffff;
}
.slider .carousel-item .slider__image {
  width: 80%;
  object-fit: contain;
  margin: 10%;
}
@media (min-width: 768px) {
  .slider .carousel-item[class*=active] {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .slider .carousel-item[class*=active] .slider__data {
    width: 50%;
  }
  .slider .carousel-item[class*=active] .slider__data .slider__heading4 {
    font-size: 32px;
  }
  .slider .carousel-item[class*=active] .slider__data .slider__heading2 {
    font-size: 44.8px;
  }
  .slider .carousel-item[class*=active] .slider__data .slider__introduction {
    font-size: 24px;
  }
  .slider .carousel-item[class*=active] .slider__data .slider__price {
    font-size: 20.8px;
  }
  .slider .carousel-item[class*=active] .slider__image {
    width: 45%;
    max-width: 400px;
    margin: 0;
  }
  .slider .carousel-item[class*=active] .button__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  .slider .carousel-item[class*=active] .button__container--more, .slider .carousel-item[class*=active] .button__container--add {
    width: 40%;
    text-align: center;
  }
}

.carousel-indicators {
  bottom: -2rem !important;
}
.carousel-indicators button:nth-child(odd) {
  background: #e99c2e;
}
.carousel-indicators button:nth-child(even) {
  background: #998d80;
}

.slider__heading4, .slider__heading2, .slider__introduction, .slider__price, .slider__image, .button__container {
  translate: 0 50px;
  opacity: 0.3;
}

.slider__heading4 {
  animation: slider-animation 1s 1 ease-out both;
  animation-delay: 0.2s;
}

.slider__heading2 {
  animation: slider-animation 1s 1 ease-out both;
  animation-delay: 0.4s;
}

.slider__introduction {
  animation: slider-animation 1s 1 ease-out both;
  animation-delay: 0.6s;
}

.slider__price {
  animation: slider-animation 1s 1 ease-out both;
  animation-delay: 0.8s;
}

.button__container {
  animation: slider-animation 1s 1 ease-out both;
  animation-delay: 1s;
}

.slider__image {
  animation: slider-animation 1s 1 ease-out both;
  animation-delay: 1.2s;
}

@keyframes slider-animation {
  100% {
    translate: 0;
    opacity: 1;
  }
}
.latest__goods {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.latest__goods--boxes {
  padding: 4rem 0;
  background: #f8f9fc;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latest__goods--boxes img[class*=boxes__image] {
  width: 50%;
  object-fit: contain;
}
.latest__goods--boxes a {
  text-decoration: none;
}
.latest__goods--boxes a .boxes--headers {
  margin: 2.5rem 0;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: #616060;
  transition: 0.5s;
  text-align: center;
}
.latest__goods--boxes a .boxes--headers:hover {
  color: #e99c2e;
  transition: 0.5s;
}
.latest__goods--boxes .boxes__text {
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #a09e9c;
  margin: 0 3rem;
  text-align: center;
}
.latest__goods--boxes .middle__box__price {
  margin: 2rem 0;
  text-align: center;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #393837;
}
.latest__goods--boxes .middle__box__button {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  color: #6d6b69;
  display: block;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  border: 2px solid #393837;
}
@media (min-width: 500px) {
  .latest__goods--boxes {
    max-width: 500px;
  }
  .latest__goods--boxes img[class*=boxes__image] {
    width: 30%;
    object-fit: contain;
  }
}
@media (min-width: 1200px) {
  .latest__goods {
    flex-direction: row;
    justify-content: space-between;
  }
  .latest__goods--boxes {
    min-height: 430px;
    width: 32%;
  }
  .latest__goods--boxes a .boxes--headers {
    font-size: 1.3rem;
    margin: 1rem 0;
  }
  .latest__goods--boxes .boxes__text {
    font-size: 1rem;
  }
  .latest__goods--boxes .middle__box__price {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .latest__goods--boxes .middle__box__button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .latest__goods--boxes img[class*=boxes__image] {
    width: 40%;
    min-height: 130px;
  }
  .latest__goods .center__box {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .latest__goods .center__box img {
    width: 30%;
  }
  .latest__goods .center__box div {
    width: 60%;
  }
  .latest__goods .last__box {
    padding: 0;
  }
}