@use "sass:math";
@use "sass:list";
@use "sass:selector";
// variables
$gray-color: #616060;
$orange-color: #e99c2e;
// styles
.page_header{
    background: #f8f9fd;
    > nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
        transition: .2s;
        .burger_menu{
            display: inline-flex;
            width: 4rem;
            height: 4rem;
            border: .4rem solid $gray-color;
            border-radius: .6rem;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            span{
                width: 80%;
                height: .5rem;
                border-radius: .3rem;
            }
            span:nth-child(even) {
                background: $gray-color;
            }
            span:nth-child(odd) {
                background: $orange-color;
            }
        }
        #page_logo{
            text-decoration: none;
            .logo_text{
                @include font-data(500, 2.2rem);
                &--gray{
                    color: $gray-color;
                }
                &--orange{
                    color: $orange-color;
                }
            }
        }
        .page_nav{
            display: none;
            ul{
                display: flex;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        @include font-data(700, 1.1rem, $gray-color);
                        padding: 0 1.3rem;
                        text-transform: capitalize;
                        &:hover{
                            color: $orange-color;
                            transition: .3s;
                        }
                    }
                }
            }
        }
        .icon_bar{
            &--container{
                display: flex;
                list-style: none;
                gap: 1.2rem;
                svg{
                    width: 2rem;
                    max-width: 28px;
                    height: 2rem;
                    max-height: 28px;
                    color: $gray-color;
                    &:hover{
                        color: #000000;
                    }
                }
            }
        }
        .page_offcanvas{
            position: fixed;
            top: 0;
            ul{
                width: 300px;
                height: 100vh;
                background: rgba(255, 255, 255, 0.39);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(3px);
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                border-radius: 0;
                padding: 0;
                padding-top: 2rem;
                li{
                    width: 90%;
                    list-style-type: none;
                    padding: 1rem 0;
                }
                li:first-child{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .exit__offcanvas{
                        @include reset-button();
                        font-size: 2.5rem;
                        width: 4.5rem;
                        height: 4.5rem;
                        border-radius: 50%;
                        color: $gray-color;
                        &:hover{
                            background: $orange-color;
                        }
                    }
                }
                li + li{
                    background: rgba(89, 89, 89, 0.221);
                    border-radius: 1rem;
                    text-align: center;
                    &:hover{
                        background: transparent;
                        transition: .2s;
                    }
                    a{
                        text-decoration: none;
                        @include font-data(400, 2rem);
                        color: $gray-color;
                    }
                }
            }
        }
        .page_offcanvas--open{
            left: 0;
            transition: left .5s;
        }
        .page_offcanvas--close{
            left: -300px;
            transition: left .5s;
        }
        @media (min-width: 900px) {
            .burger_menu{
                display: none;
            }
            .page_nav{
                display: block;
            }
        }
    }
    .active_nav{
        background: #ffffff;
        padding: 2rem 1.5rem;
        z-index: 3;
    }
}
// slider style
.slider{
    .carousel-item{
        padding: 2rem 3rem;
        margin: 12rem 0 4rem;
        box-sizing: border-box;
        .slider__heading4{
            @include font-data(500, 2rem, #998d80);
            margin-bottom: 1.3rem;
        }
        .slider__heading2{
            @include font-data(400, 2.8rem, #616060);
            margin-bottom: 1.3rem;
        }
        .slider__introduction{
            @include font-data(300, 1.5rem,#998d80);
            text-align: justify;
        }
        .slider__price{
            @include font-data(500, 1.5rem, #616060);
            width: 100%;
            margin-bottom: 2rem;
            span{
                display: inline-block;
            }
            .current__price{
                margin-left: 4rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 3rem;
                    height: 3px;
                    background: #616060b6;
                    left: -3.5rem;
                    top: calc(50% - 3px);
                }
            }
            .pervious__price{
                margin-left: 2.5rem;
                text-decoration: line-through 3px #616060b6;
            }
        }
        .button__container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &--more, &--add{
                @include reset-button();
                @include font-data(400, 1.3rem);
                padding: .5rem 0;
                transition: .4s;
            }
            &--add{
                background: #e99c2e;
                color: #ffffff;
                &:hover{
                    background: #ffffff;
                    color: #e99c2e;
                }
            }
            &--more{
                color: #e99c2e;
                &:hover{
                    background: #e99c2e;
                    color: #ffffff;
                }
            }
        }
        .slider__image{
            width: 80%;
            object-fit: contain;
            margin: 10%;
        } 
    }
    @media (min-width: 768px) {
        &{
            .carousel-item[class *= "active"]{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .slider__data{
                    width: 50%;
                    .slider__heading4{
                        font-size: 32px;
                    }
                    .slider__heading2{
                        font-size: 44.8px;
                    }
                    .slider__introduction{
                        font-size: 24px;
                    }
                    .slider__price{
                        font-size: 20.8px;
                    }
                }
                .slider__image{
                    width: 45%;
                    max-width: 400px;
                    margin: 0;
                }
                .button__container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 0;
                    &--more, &--add{
                        width: 40%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.carousel-indicators{
    bottom: -2rem !important;
    button:nth-child(odd){
        background: #e99c2e;
    }
    button:nth-child(even){
        background: #998d80;
    }
}
$carousel-element: "slider__heading4", "slider__heading2", "slider__introduction", "slider__price", "button__container", "slider__image"; 
#{selector.append(".slider", "__heading4, __heading2, __introduction, __price, __image"),}, .button__container{
    translate: 0 50px;
    opacity: .3;      
}
@each $element in $carousel-element{
    $index: list.index($carousel-element, $element);
    .#{$element}{
        animation: slider-animation 1s 1 ease-out both;
        animation-delay: .2s * $index;
    }
}
@keyframes slider-animation {
    100%{
        translate: 0;
        opacity: 1;
    }
}

.rise__handler{
    width: 3rem;
    height: 3rem;
    background: black;
    position: fixed;
    right: 5%;
    bottom: 5%;
    border-radius: 50%;
    display: grid;
    place-items: center;
    user-select: none;
    span{
        margin-top: .3rem;
        @include font-data(400, 2rem, #ffffff);
    }
}