@use "sass:selector";
@use "sass:list";
// latest design
$light-gray: #a09e9c;
$dark-gray: #616060;
.latest__goods{
    width: 90%;
    margin: 0 auto;
    margin: {
        top: 8rem;
        bottom: 4rem;
    };
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &--boxes{
        padding: 4rem 0;
        background: #f8f9fc;
        display: flex;
        flex-direction: column;
        align-items: center;
        img[class *= "boxes__image"]{
            width: 50%;
            object-fit: contain;
        }
        a{
            text-decoration: none;
            .boxes--headers{
                margin: 2.5rem 0;
                @include font-data(500, 2.2rem, $dark-gray);
                transition: .5s;
                text-align: center;
                &:hover{
                    color: #e99c2e;
                    transition: .5s;
                }
            }
        }
        .boxes__text{
            @include font-data(300, 1.4rem, $light-gray);
            margin: 0 3rem;
            text-align: center;
        }
        .middle__box__price{
            margin: 2rem 0;
            text-align: center;
            @include font-data(500, 1.8rem, darken($light-gray, 40%));
        }
        .middle__box__button{
            @include reset-button;
            @include font-data(700, 1.8rem, darken($light-gray, 20%));
            display: block;
            margin: 0 auto;
            padding: 1.5rem 3rem;
            border: 2px solid darken($light-gray, 40%);
        }
    }
    @media (min-width: 500px) {
        &--boxes{
            max-width: 500px;
            img[class *= "boxes__image"]{
                width: 30%;
                object-fit: contain;
            }
        }
    }
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        &--boxes{
            min-height: 430px;
            width: 32%;
            a{
                .boxes--headers{
                    font-size: 1.3rem;
                    margin: 1rem 0;
                }
            }
            .boxes__text{
                font-size: 1rem;
            }
            .middle__box__price{
                font-size: 1rem;
                margin: 1rem 0;
            }
            .middle__box__button{
                font-size: 1rem;
                padding: .5rem 1rem;
            }
            img[class *= "boxes__image"]{
                width: 40%;
                min-height: 130px;
            }
        }
        .center__box{
            width: 45%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            img{
                width: 30%;
            }
            div{
                width: 60%;
            }
        }
        .last__box{
            padding: 0;
        }
    }
}
// new Arrivals
.placeholder_image{
    width: 100%;
    height: 300px;
    background: #a9a9a9;
    display: grid;
    grid-template-columns: auto 40px 40px auto;
    grid-template-rows: repeat(6, 1fr);
    gap: 2.5rem;
    span{
        width: 40px;
        height: 40px;
        background: #f8f9fc;
        animation: image_loader 4s linear infinite;
    }
    span:nth-child(1){
        grid-column: 2/3;
        grid-row: 3/4;
        border-radius: 50% 0;
    }
    span:nth-child(2){
        grid-column: 3/4;
        grid-row: 3/4;
        border-radius: 0 50%;
    }
    span:nth-child(3){
        grid-column: 2/3;
        grid-row: 4/5;
        border-radius: 0 50%;
    }
    span:nth-child(4){
        grid-column: 3/4;
        grid-row: 4/5;
        border-radius: 50% 0;
    }
}
@keyframes image_loader {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}
%placeholder {
    padding: 2rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
%placeholder--header{
    @include font-data(600, 2.8rem, #5f5b57);
    text-align: center;
    margin: 6rem 0 1rem;
    width: 100%;
    text-transform: capitalize;
}
%placeholder--card{
    width: 80%;
    max-width: 300px;
    margin: 0 3rem 3rem 3rem;
}
.new__arrivals{
    &--header{
        @extend %placeholder--header;
    }
    .new__arrivals__cards__container{
        @extend %placeholder;
        .card, .commodity__container {
            @extend %placeholder--card;
            .placeholder-glow[class *= "card-title"]{
                text-align: center;
                span{
                    height: 3rem;
                }
            }
            .placeholder-glow[class *= "card-text"]{
                text-align: center;
                span{
                    height: 1.5rem;
                    margin: 2rem 0;
                }
            }
        }
    }
    .commodity__container {
        .commodity--img{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            height: 350px;
            position: relative;
            background: rgba(106,119,129,.1);
            transition: .5s;
            img{
                width: 50%;
                margin: 0 auto;
                transition: .5s;
            }
            .commodity__nav{
                width: 100%;
                position: absolute;  
                background: darken($dark-gray, 20%);
                padding: .5rem 1rem;
                display: flex;
                bottom: 0;
                z-index: -1;
                align-items: center;
                bottom: -41.3px;
                transition: .5s;
                span{
                    color: #ffffff;
                }
                .commodity__nav--add{
                    @include font-data(500, 1.3rem, #ffffff);
                    margin-right: auto;
                }
                .commodity__nav--favorite{
                    margin-right: 1rem;
                }
                #{selector.append(".commodity__nav", "--favorite, --fullsize")}{
                    svg{
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }

            }
            &:hover .commodity__nav{
                bottom: 0;
            }
            &:hover img{
                scale: 1.3;
            }
            &:hover{
                box-shadow: 0 10px 160px rgb(140, 140, 140) inset;
            }
        }
        .commodity--header{
            text-align: center;
            margin: 0;
            background: white;
            a{
                @include font-data(500, 2rem, darken($dark-gray, 20%));
                text-decoration: none;
                display: inline-block;
                margin: 1.5rem 0;
                transition: .5s;
                &:hover{
                    color: #e99c2e;
                }
            }
        }
        .commodity--price{
            text-align: center;
            @include font-data(300, 1.5rem, darken($dark-gray, 20%));
        }
    }
    .commodity__container[class *= "brown__sale"],
    .commodity__container[class *= "green__sale"]{
        position: relative;
        &::after{
            content: "Sale";
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 1rem;
            @include font-data(400, 1.1rem, #ffffff);
            padding: .3rem 1rem;
        }
    }
    .commodity__container[class *= "green__sale"]::after{
        background: #47d93c;
    }
    .commodity__container[class *= "brown__sale"]::after{
        background: #d8924c;
    }
}
// table connection section
.table__collection{
    padding: 6rem 5%;
    margin: 2rem 0 4rem;
    position: relative;
    .BGimage__container{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: -2;
    }
    .table__collection__BGcolor{
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        max-width: 500px;
        background: #19191abd;
        z-index: -1;
    }
    .table__collection__data{
        .data--header{
            @include font-data(500, 2rem, darken(#ffffff, 5%));
        }
        .data--prag{
            @include font-data(400, 1rem, darken(#ffffff, 10%));
        }
        .data--header, .data--prag{
            text-transform: capitalize;
            margin-bottom: 4rem;
        }
        .data--price{
            @include font-data(700, 1.2rem, darken(#ffffff, 10%));
            letter-spacing: 1.3px;
            .text--orange{
                color: #E99C2E;
            }
        }
        .data--rdm{
            button{
                @include reset-button(); 
                padding: 1rem 3rem;
                background: #E99C2E;
                @include font-data(300, 1.5rem, darken(#ffffff, 10%));
            }
        }
    }
    @media (min-width: 800px) {
        .table__collection__data{
            .data--prag{
                width: 60%;
                max-width: 400px;
                margin: 4rem 0 2rem;
                line-height: 1.6rem;
            }
            .data--price{
                margin: 2rem 0;
            }
        }
    }
}
$bg-path: (
    1: "../image/table\ collection\ image/first image.jpg",
    2: "../image/table\ collection\ image/second image.png",
    3: "../image/table\ collection\ image/third image.jpg",
    4: "../image/table\ collection\ image/fourth image.jpg",
    5: "../image/table\ collection\ image/fifth image.png"
);
@each $num, $path in $bg-path{
    .image__num#{$num}{
        position: absolute;
        @if($num != 1){
            top: ($num - 1) * 20%;
        }@else{
            top: 0;
        }
        left: 0;
        background: url($path);
        width: 100%;
        height: 20%;
        border: 2px solid black;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}
// Featured Products
.featured__section{
    &--header{
        @extend %placeholder--header;
    }
    .featured__product__cards__container{
        @extend %placeholder;
        gap: 4rem;
        .card{
            @extend %placeholder--card;
            .card-body{
                .card-text, .card-title{
                    text-align: center;
                }
                .card-text{
                    margin-top: 2rem;
                    span{
                        display: inline-block;
                        margin: .5rem 0;
                    }
                }
            }
        }
        .featured__product__card{
            width: 80%;
            max-width: 300px;
            border-radius: 2rem 2rem 0 0;
            .card--image{
                width: 90%;
                margin: 5%;
                img{
                    width: 100%;
                    border-radius: 1rem 1rem 0 0;
                }
            }
            .card--rank{
                user-select: none;
                display: flex;
                justify-content: center;
                gap: 2rem;
                align-items: center;
                margin: 2rem 0 1rem;
                .rank--stars{
                    color: #efce4a;
                    translate: 0 -2px;
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
                .rank--reviews{
                    @include font-data(400, 1rem, #5f5b57);
                    text-transform: capitalize;
                }
            }
            .card--header{
                text-transform: capitalize;
                text-align: center;
                a{
                    @include font-data(500, 1.2rem, darken(#5f5b57, 20%));
                    text-decoration: none;
                    &:hover{
                        border-bottom: 2px solid darken(#5f5b57, 20%);
                    }
                }
            }
            .card--price{
                margin-top: 1rem;
                @include font-data(500, 1.2rem, darken(#5f5b57, 20%));
                text-align: center;
            }
        }
    }
}
// latest blog
.latest__blog{
    &--header{
        @extend %placeholder--header;
    }
    .latest__blog__cards__container{
        @extend %placeholder;
        .card , .latest__blog__card{
            @extend %placeholder--card;
            max-width: 350px;
        }
        .latest__blog__card{
            display: flex;
            flex-direction: column;
            align-items: center;
            .blog__image{
                position: relative;
                img{
                    width: 100%;
                }
                &::after{
                    content: "";
                    width: 0;
                    height: 0;
                    background: rgba(46, 46, 46, 0.273);
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    opacity: 0;
                    transition: .5s ease-in-out;
                } 
                &:hover{
                    &::after{
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                    }
                }
            }
            .blog__header{
                margin: 1rem 0;
                width: 85%;
                @include font-data(500, 1.3rem, darken(#95908b, 30%));
                text-transform: capitalize;
            }
            .blog__data{
                @include font-data(500, 1.1rem, darken(#95908b, 30%));
                text-transform: capitalize;
                text-align: center
            }
            .blog__text__demo{
                @include font-data(300, 1.1rem, darken(#95908b, 20%));
                width: 90%;
                text-align: justify;
                text-transform: capitalize;
            }
            
        }
    }
}

// <div class="latest__blog__card">
//   <div class="blog__image">
//     <img src="" alt="">
//   </div>
//   <h5 class="blog__header"></h5>
//   <p class="blog__data">
//     <span class="blog__data--written"></span> / <span class="blog__data--data"></span>
//   </p>
//   <p class="blog__text__demo">

//   </p>
// </div>
// Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum lorem ipsum dollor hena porta...