// latest design
.latest__goods{
    $light-gray: #a09e9c;
    $dark-gray: #616060;
    width: 90%;
    margin: 0 auto;
    margin: {
        top: 4rem;
        bottom: 4rem;
    };
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &--boxes{
        padding: 4rem 0;
        background: #f8f9fc;
        display: flex;
        flex-direction: column;
        align-items: center;
        img[class *= "boxes__image"]{
            width: 50%;
            object-fit: contain;
        }
        a{
            text-decoration: none;
            .boxes--headers{
                margin: 2.5rem 0;
                @include font-data(500, 2.2rem, $dark-gray);
                transition: .5s;
                text-align: center;
                &:hover{
                    color: #e99c2e;
                    transition: .5s;
                }
            }
        }
        .boxes__text{
            @include font-data(300, 1.4rem, $light-gray);
            margin: 0 3rem;
            text-align: center;
        }
        .middle__box__price{
            margin: 2rem 0;
            text-align: center;
            @include font-data(500, 1.8rem, darken($light-gray, 40%));
        }
        .middle__box__button{
            @include reset-button;
            @include font-data(700, 1.8rem, darken($light-gray, 20%));
            display: block;
            margin: 0 auto;
            padding: 1.5rem 3rem;
            border: 2px solid darken($light-gray, 40%);
        }
    }
    @media (min-width: 500px) {
        &--boxes{
            max-width: 500px;
            img[class *= "boxes__image"]{
                width: 30%;
                object-fit: contain;
            }
        }
    }
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        &--boxes{
            min-height: 430px;
            width: 32%;
            a{
                .boxes--headers{
                    font-size: 1.3rem;
                    margin: 1rem 0;
                }
            }
            .boxes__text{
                font-size: 1rem;
            }
            .middle__box__price{
                font-size: 1rem;
                margin: 1rem 0;
            }
            .middle__box__button{
                font-size: 1rem;
                padding: .5rem 1rem;
            }
            img[class *= "boxes__image"]{
                width: 40%;
                min-height: 130px;
            }
        }
        .center__box{
            width: 45%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            img{
                width: 30%;
            }
            div{
                width: 60%;
            }
        }
        .last__box{
            padding: 0;
        }
    }
}
// new Arrivals
.placeholder_image{
    width: 100%;
    height: 300px;
    background: #a9a9a9;
    display: grid;
    grid-template-columns: auto 40px 40px auto;
    grid-template-rows: repeat(6, 1fr);
    gap: 2.5rem;
    span{
        width: 40px;
        height: 40px;
        background: #f8f9fc;
        animation: image_loader 4s linear infinite;
    }
    span:nth-child(1){
        grid-column: 2/3;
        grid-row: 3/4;
        border-radius: 50% 0;
    }
    span:nth-child(2){
        grid-column: 3/4;
        grid-row: 3/4;
        border-radius: 0 50%;
    }
    span:nth-child(3){
        grid-column: 2/3;
        grid-row: 4/5;
        border-radius: 0 50%;
    }
    span:nth-child(4){
        grid-column: 3/4;
        grid-row: 4/5;
        border-radius: 50% 0;
    }
}
@keyframes image_loader {
    0%{
        rotate: 0;
    }
    100%{
        rotate: 360deg;
    }
}
.placeholder-glow[class *= "card-title"]{
    text-align: center;
    span{
        height: 3rem;
    }
}
.placeholder-glow[class *= "card-text"]{
    text-align: center;
    span{
        height: 1.5rem;
        margin: 2rem 0;
    }
}
.new__arrivals{
    padding: 4rem 0 6rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .new__arrivals--header{
        @include font-data(600, 3rem, #5f5b57);
        text-align: center;
        margin: 4rem 0;
        width: 100%;
    }
    .card{
        width: 80%;
        max-width: 300px;
        margin: 0 3rem 3rem 3rem;
    }
}