// slider style
@use "sass:list";
@use "sass:selector";
.slider{
    .carousel-item{
        padding: 5vh 3vh;
        box-sizing: border-box;
        .slider__heading4{
            @include font-data(500, 2rem, #998d80);
            margin-bottom: 1.3rem;
        }
        .slider__heading2{
            @include font-data(400, 2.8rem, #616060);
            margin-bottom: 1.3rem;
        }
        .slider__introduction{
            @include font-data(300, 1.5rem,#998d80);
            text-align: justify;
        }
        .slider__price{
            @include font-data(500, 1.5rem, #616060);
            width: 100%;
            margin-bottom: 2rem;
            span{
                display: inline-block;
            }
            .current__price{
                margin-left: 4rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 3rem;
                    height: 3px;
                    background: #616060b6;
                    left: -3.5rem;
                    top: calc(50% - 3px);
                }
            }
            .pervious__price{
                margin-left: 2.5rem;
                text-decoration: line-through 3px #616060b6;
            }
        }
        .button__container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &--more, &--add{
                @include reset-button();
                @include font-data(400, 1.3rem);
                padding: .5rem 0;
                transition: .4s;
            }
            &--add{
                background: #e99c2e;
                color: #ffffff;
                &:hover{
                    background: #ffffff;
                    color: #e99c2e;
                }
            }
            &--more{
                color: #e99c2e;
                &:hover{
                    background: #e99c2e;
                    color: #ffffff;
                }
            }
        }
        .slider__image{
            width: 80%;
            object-fit: contain;
            margin: 10%;
        } 
    }
    @media (min-width: 768px) {
        &{
            .carousel-item[class *= "active"]{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .slider__data{
                    width: 50%;
                    .slider__heading4{
                        font-size: 32px;
                    }
                    .slider__heading2{
                        font-size: 44.8px;
                    }
                    .slider__introduction{
                        font-size: 24px;
                    }
                    .slider__price{
                        font-size: 20.8px;
                    }
                }
                .slider__image{
                    width: 45%;
                    max-width: 400px;
                    margin: 0;
                }
                .button__container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 0;
                    &--more, &--add{
                        width: 40%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.carousel-indicators{
    bottom: -2rem !important;
    button:nth-child(odd){
        background: #e99c2e;
    }
    button:nth-child(even){
        background: #998d80;
    }
}

$carousel-element: "slider__heading4", "slider__heading2", "slider__introduction", "slider__price", "button__container", "slider__image"; 
#{selector.append(".slider", "__heading4, __heading2, __introduction, __price, __image"),}, .button__container{
    translate: 0 50px;
    opacity: .3;      
}
@each $element in $carousel-element{
    $index: list.index($carousel-element, $element);
    .#{$element}{
        animation: slider-animation 1s 1 ease-out both;
        animation-delay: .2s * $index;
    }
}
@keyframes slider-animation {
    100%{
        translate: 0;
        opacity: 1;
    }
}