// slider style
@use "sass:list";
@use "sass:selector";
.slider{
    .carousel-item{
        padding: 5vh 3vh;
        box-sizing: border-box;
        .slider__heading4{
            @include font-data(500, 2rem, #998d80);
            margin-bottom: 1.3rem;
        }
        .slider__heading2{
            @include font-data(400, 2.8rem, #616060);
            margin-bottom: 1.3rem;
        }
        .slider__introduction{
            @include font-data(300, 1.5rem,#998d80);
            text-align: justify;
        }
        .slider__price{
            @include font-data(500, 1.5rem, #616060);
            width: 100%;
            margin-bottom: 2rem;
            span{
                display: inline-block;
            }
            .current__price{
                margin-left: 4rem;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 3rem;
                    height: 3px;
                    background: #616060b6;
                    left: -3.5rem;
                    top: calc(50% - 3px);
                }
            }
            .pervious__price{
                margin-left: 2.5rem;
                text-decoration: line-through 3px #616060b6;
            }
        }
        .button__container{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &--more, &--add{
                @include reset-button();
                @include font-data(400, 1.3rem);
                padding: .5rem 0;
                transition: .4s;
            }
            &--add{
                background: #e99c2e;
                color: #ffffff;
                &:hover{
                    background: #ffffff;
                    color: #e99c2e;
                }
            }
            &--more{
                color: #e99c2e;
                &:hover{
                    background: #e99c2e;
                    color: #ffffff;
                }
            }
        }
        .slider__image{
            width: 80%;
            object-fit: contain;
            margin: 10%;
        } 
    }
    @media (min-width: 768px) {
        &{
            .carousel-item[class *= "active"]{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .slider__data{
                    width: 50%;
                    .slider__heading4{
                        font-size: 32px;
                    }
                    .slider__heading2{
                        font-size: 44.8px;
                    }
                    .slider__introduction{
                        font-size: 24px;
                    }
                    .slider__price{
                        font-size: 20.8px;
                    }
                }
                .slider__image{
                    width: 45%;
                    max-width: 400px;
                    margin: 0;
                }
                .button__container{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 0;
                    &--more, &--add{
                        width: 40%;
                        text-align: center;
                    }
                }
            }
        }
    }
}
.carousel-indicators{
    bottom: -2rem !important;
    button:nth-child(odd){
        background: #e99c2e;
    }
    button:nth-child(even){
        background: #998d80;
    }
}
$carousel-element: "slider__heading4", "slider__heading2", "slider__introduction", "slider__price", "button__container", "slider__image"; 
#{selector.append(".slider", "__heading4, __heading2, __introduction, __price, __image"),}, .button__container{
    translate: 0 50px;
    opacity: .3;      
}
@each $element in $carousel-element{
    $index: list.index($carousel-element, $element);
    .#{$element}{
        animation: slider-animation 1s 1 ease-out both;
        animation-delay: .2s * $index;
    }
}
@keyframes slider-animation {
    100%{
        translate: 0;
        opacity: 1;
    }
}
// latest design
.latest__goods{
    $light-gray: #a09e9c;
    $dark-gray: #616060;
    width: 90%;
    margin: 0 auto;
    margin: {
        top: 4rem;
        bottom: 4rem;
    };
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &--boxes{
        padding: 4rem 0;
        background: #f8f9fc;
        display: flex;
        flex-direction: column;
        align-items: center;
        img[class *= "boxes__image"]{
            width: 50%;
            object-fit: contain;
        }
        a{
            text-decoration: none;
            .boxes--headers{
                margin: 2.5rem 0;
                @include font-data(500, 2.2rem, $dark-gray);
                transition: .5s;
                text-align: center;
                &:hover{
                    color: #e99c2e;
                    transition: .5s;
                }
            }
        }
        .boxes__text{
            @include font-data(300, 1.4rem, $light-gray);
            margin: 0 3rem;
            text-align: center;
        }
        .middle__box__price{
            margin: 2rem 0;
            text-align: center;
            @include font-data(500, 1.8rem, darken($light-gray, 40%));
        }
        .middle__box__button{
            @include reset-button;
            @include font-data(700, 1.8rem, darken($light-gray, 20%));
            display: block;
            margin: 0 auto;
            padding: 1.5rem 3rem;
            border: 2px solid darken($light-gray, 40%);
        }
    }
    @media (min-width: 500px) {
        &--boxes{
            max-width: 500px;
            img[class *= "boxes__image"]{
                width: 30%;
                object-fit: contain;
            }
        }
    }
    @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        &--boxes{
            min-height: 430px;
            width: 32%;
            a{
                .boxes--headers{
                    font-size: 1.3rem;
                    margin: 1rem 0;
                }
            }
            .boxes__text{
                font-size: 1rem;
            }
            .middle__box__price{
                font-size: 1rem;
                margin: 1rem 0;
            }
            .middle__box__button{
                font-size: 1rem;
                padding: .5rem 1rem;
            }
            img[class *= "boxes__image"]{
                width: 40%;
                min-height: 130px;
            }
        }
        .center__box{
            width: 45%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            img{
                width: 30%;
            }
            div{
                width: 60%;
            }
        }
        .last__box{
            padding: 0;
        }
    }
}