@use "sass:math";
// variables
$gray-color: #616060;
$orange-color: #e99c2e;
// styles
.page_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    width: 100%;
    background: #ffffff;
    z-index: 1;
    .burger_menu{
        display: inline-flex;
        width: 4rem;
        height: 4rem;
        border: .4rem solid $gray-color;
        border-radius: .6rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        span{
            width: 80%;
            height: .5rem;
            border-radius: .3rem;
        }
        span:nth-child(even) {
            background: $gray-color;
        }
        span:nth-child(odd) {
            background: $orange-color;
        }
    }
    #page_logo{
        text-decoration: none;
        .logo_text{
            @include font-data(500, 2.2rem);
            &--gray{
                color: $gray-color;
            }
            &--orange{
                color: $orange-color;
            }
        }
    }
    .page_nav{
        display: none;
        ul{
            display: flex;
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    @include font-data(400, 1rem);
                    padding: 0 1.3rem;
                    color: $gray-color;
                    text-transform: capitalize;
                    &:hover{
                        color: $orange-color;
                        transition: .3s;
                    }
                }
            }
        }
    }
    .icon_bar{
        &--container{
            display: flex;
            list-style: none;
            gap: 1.2rem;
            svg{
                width: 2rem;
                max-width: 28px;
                height: 2rem;
                max-height: 28px;
                color: $gray-color;
                &:hover{
                    color: #000000;
                }
            }
        }
    }
    .page_offcanvas{
        position: fixed;
        top: 0;
        ul{
            width: 300px;
            height: 100vh;
            background: rgba(255, 255, 255, 0.39);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3px);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            border-radius: 0;
            padding: 0;
            padding-top: 2rem;
            li{
                width: 90%;
                list-style-type: none;
                padding: 1rem 0;
            }
            li:first-child{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .exit__offcanvas{
                    @include reset-button();
                    font-size: 2.5rem;
                    width: 4.5rem;
                    height: 4.5rem;
                    border-radius: 50%;
                    color: $gray-color;
                    &:hover{
                        background: $orange-color;
                    }
                }
            }
            li + li{
                background: rgba(89, 89, 89, 0.221);
                border-radius: 1rem;
                text-align: center;
                &:hover{
                    background: transparent;
                    transition: .2s;
                }
                a{
                    text-decoration: none;
                    @include font-data(400, 2rem);
                    color: $gray-color;
                }
            }
        }
    }
    .page_offcanvas--open{
        left: 0;
        transition: left .5s;
    }
    .page_offcanvas--close{
        left: -300px;
        transition: left .5s;
    }
    @media (min-width: 900px) {
        .burger_menu{
            display: none;
        }
        .page_nav{
            display: block;
        }
    }
}
